@keyframes Sizer {
    0% {transform: scale(0, 0);}
    50% {transform: scale(1.1, 1.1);}
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes TopBarSlide {
    from {transform: translate(-1000px);}
    to {opacity: 1;}
}

@keyframes TitleSlide {
    from {transform: translate(-1000px);}
    to {opacity: 1;}
}

@keyframes Rainbow {
    0% {border: 2px solid rgb(66, 66, 158);}
    20% {border: 2px solid darkcyan;}
    40% {border: 2px solid darkblue;}
    60% {border: 2px solid darkgray;}
    80% {border: 2px solid darkmagenta;}
    90% {border: 2px solid darkorange;}
    100% {border: 2px solid rgb(66, 66, 158);}
}

@keyframes Rotate {
    to {transform: rotate(360deg);}
}

.TopBar {
    opacity: 0;
    animation: TopBarSlide 700ms forwards;
}

.title-box {
    opacity: 0;
    animation: TitleSlide 800ms forwards 700ms;
}

main, footer {
    opacity: 0;
    animation: Sizer 800ms forwards 1500ms;
}

.title:hover, .Myhistory-content:hover {
    transform: scale(1.1, 1.1);
    animation: Rainbow 10s 5s;
}

.card-box img:hover {
    animation: Rotate 1s 2s;
}