@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import "animations";

$mainColor: rgb(14, 14, 14);
$secondaryColor: darken($mainColor,  5);
$fontColor: rgb(66, 66, 158);

* {
    font-family: 'Nunito', sans-serif;
    color: $fontColor;
}

a {text-decoration: none;}

body {
    width: 98vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $mainColor;
}

@mixin FlexSets($justyContent) {
    display: flex;
    justify-content: $justyContent;
}