@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@-webkit-keyframes Sizer {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes Sizer {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes TopBarSlide {
  from {
    -webkit-transform: translate(-1000px);
            transform: translate(-1000px);
  }
  to {
    opacity: 1;
  }
}

@keyframes TopBarSlide {
  from {
    -webkit-transform: translate(-1000px);
            transform: translate(-1000px);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes TitleSlide {
  from {
    -webkit-transform: translate(-1000px);
            transform: translate(-1000px);
  }
  to {
    opacity: 1;
  }
}

@keyframes TitleSlide {
  from {
    -webkit-transform: translate(-1000px);
            transform: translate(-1000px);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes Rainbow {
  0% {
    border: 2px solid #42429e;
  }
  20% {
    border: 2px solid darkcyan;
  }
  40% {
    border: 2px solid darkblue;
  }
  60% {
    border: 2px solid darkgray;
  }
  80% {
    border: 2px solid darkmagenta;
  }
  90% {
    border: 2px solid darkorange;
  }
  100% {
    border: 2px solid #42429e;
  }
}

@keyframes Rainbow {
  0% {
    border: 2px solid #42429e;
  }
  20% {
    border: 2px solid darkcyan;
  }
  40% {
    border: 2px solid darkblue;
  }
  60% {
    border: 2px solid darkgray;
  }
  80% {
    border: 2px solid darkmagenta;
  }
  90% {
    border: 2px solid darkorange;
  }
  100% {
    border: 2px solid #42429e;
  }
}

@-webkit-keyframes Rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.TopBar {
  opacity: 0;
  -webkit-animation: TopBarSlide 700ms forwards;
          animation: TopBarSlide 700ms forwards;
}

.title-box {
  opacity: 0;
  -webkit-animation: TitleSlide 800ms forwards 700ms;
          animation: TitleSlide 800ms forwards 700ms;
}

main, footer {
  opacity: 0;
  -webkit-animation: Sizer 800ms forwards 1500ms;
          animation: Sizer 800ms forwards 1500ms;
}

.title:hover, .Myhistory-content:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-animation: Rainbow 10s 5s;
          animation: Rainbow 10s 5s;
}

.card-box img:hover {
  -webkit-animation: Rotate 1s 2s;
          animation: Rotate 1s 2s;
}

* {
  font-family: 'Nunito', sans-serif;
  color: #42429e;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40vw;
  list-style: none;
}

.TopBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #010101;
}

.TopBar a {
  border-radius: 4rem;
  font-weight: bolder;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.TopBar a:hover {
  color: #6060bd;
  font-size: 1.3pc;
}

.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 2px solid #42429e;
  -webkit-box-shadow: 20px 20px 20px #010101;
          box-shadow: 20px 20px 20px #010101;
  width: 70%;
  padding: 10px 0 10px 5px;
  border-radius: 6rem;
  background-color: #010101;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title h1 {
  margin: 0;
}

@media screen and (max-width: 1205px) {
  .title h1 {
    font-size: 1.4pc;
  }
}

.title img {
  width: 16vw;
  border-radius: 50%;
}

article {
  border: 2px solid #42429e;
  -webkit-box-shadow: 20px 20px 20px #010101;
          box-shadow: 20px 20px 20px #010101;
  background-color: #010101;
}

.article-title {
  font-size: 2.2pc;
  margin-top: 0;
  margin-bottom: 40px;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section {
  text-align: center;
  margin: 100px 10px 110px 0;
}

#Knowledges {
  padding: 10px 15px 25px 15px;
}

#Knowledges .card-title {
  margin-bottom: 25px;
}

article {
  background-color: #222222;
  border-radius: .5rem;
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 20px;
}

article img {
  width: 100px;
  height: 100px;
}

article h2 {
  margin: 0;
}

article:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  background-color: inherit;
}

#Myhistory .Myhistory-content {
  -webkit-transition: 300ms;
  transition: 300ms;
  width: 70%;
  border: 2px solid #42429e;
  -webkit-box-shadow: 20px 20px 20px #010101;
          box-shadow: 20px 20px 20px #010101;
  background-color: #010101;
  border-radius: .4rem;
}

#Myhistory .Myhistory-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */