@import "variables";

body {
    margin: 0;
    padding: 0;
    background-color: $mainColor;
}

// Header
ul {
    @include FlexSets(space-between);
    width: 40vw;
    list-style: none;
    margin: 0;
}

.TopBar {
    @include FlexSets(space-around);
    align-items: center;
    background-color: $secondaryColor;
    a {
        border-radius: 4rem;
        font-weight: bolder;      
        transition: 300ms;
        &:hover {
            color: lighten($fontColor, 12);
            font-size: 1.3pc;
        }
    }
}

.title-box {
    @include FlexSets(center);
    margin-top: 50px;
}

.title {
    @include FlexSets(space-around);
    transition: 300ms;
    border: 2px solid $fontColor;
    box-shadow: 20px 20px 20px darken($mainColor, 5);
    width: 70%;
    padding: 10px 0 10px 5px;
    border-radius: 6rem;
    background-color: $secondaryColor;
    align-items: center;
    h1 {
        margin: 0;
        @media screen and (max-width: 1205px){font-size: 1.4pc;}
    }
    img {
        width: 16vw;
        border-radius: 50%;
    }
}

// Main
article {
    border: 2px solid $fontColor;
    box-shadow: 20px 20px 20px darken($mainColor, 5);
    background-color: $secondaryColor;
}

.article-title {
    font-size: 2.2pc;
    margin-top: 0;
    margin-bottom: 40px;
}

.card-box {@include FlexSets(space-around)}

section {
    text-align: center;
    margin: 100px 10px 110px 0;
}

#Knowledges {
    padding: 10px 15px 25px 15px;
    .card-title {margin-bottom: 25px;}
}

article {
    background-color: lighten($mainColor, 8);
    border-radius: .5rem;
    transition: 300ms;
    padding: 20px;
    img {
        width: 100px;
        height: 100px;
    }
    h2 {margin: 0;}
    &:hover {
        transform: scale(1.2, 1.2);
        background-color: inherit;
    }
}

#Myhistory {
    .Myhistory-content {
        transition: 300ms;
        width: 70%;
        border: 2px solid $fontColor;
        box-shadow: 20px 20px 20px darken($mainColor, 5);
        background-color: $secondaryColor;
        border-radius: .4rem;
    }
    .Myhistory-box {@include FlexSets(center);}
}