@import "variables";

ul {
    @include FlexSets(space-between);
    list-style: none;
    li {
        margin-right: 15px;
        padding-right: 20px;
    }
}

.TopBar {
    @include FlexSets(space-around);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    background-color: $secondaryColor;
    a {
        border-radius: 4rem;
        font-weight: bolder;      
        transition: 300ms;
        &:hover {
            color: lighten($fontColor, 12);
            font-size: 1.2pc;
        }
    }
}

.title {
    @include FlexSets(space-around);
    margin: 100px auto;
    transition: 300ms;
    border: 2px solid $fontColor;
    box-shadow: 20px 20px 20px darken($mainColor, 5);
    width: 70%;
    padding: 10px 0 10px 5px;
    border-radius: 6rem;
    background-color: $secondaryColor;
    align-items: center;
    h1 {margin: 0}
    img {
        width: 16vw;
        border-radius: 50%;
    }
}

.article-title {
    font-size: 2.2pc;
    margin-top: 0;
    margin-bottom: 40px;
}

article {
    border: 2px solid $fontColor;
    box-shadow: 20px 20px 20px darken($mainColor, 5);
    background-color: lighten($mainColor, 8);
    border-radius: .5rem;
    transition: 300ms;
    padding: 20px;
    margin: 30px;
    img {
        width: 100px;
        height: 100px;
    }
    h2 {margin: 0}
    &:hover {
        transform: scale(1.2, 1.2);
        background-color: inherit;
    }
}

.card-box {
    @include FlexSets(space-around);
    flex-wrap: wrap;
}

section {
    text-align: center;
    margin: 100px 10px 110px 0;
}

#Knowledges {
    padding: 10px 15px 25px 15px;
    .card-title {margin-bottom: 25px;}
}

.Myhistory-content {
    margin: auto;
    transition: 300ms;
    width: 70%;
    border: 2px solid $fontColor;
    box-shadow: 20px 20px 20px darken($mainColor, 5);
    background-color: $secondaryColor;
    border-radius: .4rem;
}

@media screen and (max-width: 768px) {
    body {width: 100vw}

    .TopBar {
        position: relative;
        flex-direction: column;
        li {margin: 4px auto}
        li:last-of-type {padding-left: 20px}
    }

    ul {
        padding: 0;
        flex-wrap: wrap;
    }

    .title {
        border-radius: .4rem;
        h1 {
            font-size: 1.4pc;
            padding: 0 10px;
        }
        img {display: none}
    }

    #Contacts .card-box h2 {display: none}
}

@media screen and (max-width: 1200px) {
    .title {
        width: 50vw;
        h1 {font-size: 1.5pc}
        img {display: none}
    }   
}

@media screen and (max-width: 600px) {
    .title {
        width: 300px;
        padding: 5px 0;
        h1 {
            padding: 0;
            font-size: 1pc;
        }
    }   
}