@import "variables";

h1, h2, h3 {
    margin: 0;
    padding: 5px;
}

header {
    background-color: $secondaryColor;
    text-align: center;
    img {
        width: 50px;
        position: absolute;
        left: 25px;
        top: 25px;
        transition: 300ms;
        &:hover {transform: scale(1.2, 1.2)}
    }
}

.repo-box, .error-box {
    box-shadow: 10px 20px 20px darken($mainColor, 5);
    text-align: center;
    background-color: $secondaryColor;
    margin: 30px auto;
    padding: 7px 10px;
    width: 50%;
    border-radius: .5rem;
    transition: 300ms;
    span {@extend .repo-tag}
    &:hover {transform: scale(1.1, 1.1)}
}

.last-updates {
    background-color: $mainColor;
    border-radius: inherit;
}

.repo-tag {
    background-color: lighten($mainColor, 3);
    margin-right: 5px;
    padding: 5px;
    border-radius: 4rem;
    font-weight: bolder;
}